body {
  margin: 50px;
  font-size: 17px;
}

h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

table {
  width: 600px;
  /*  borda pega ao redor da tabela
   border: 1px solid #000;  */

}

th, td {
  /* border: 1px solid #888;
  Coloca borda por Celulas, e o TH nas celulas titulo
*/
}

table thead {
    background-color: aquamarine;
}

table tbody {
    background-color: blanchedalmond;

}

th, td {
  text-align: center;
  padding: 10px;
}


 tbody tr:hover {
  background-color: aliceblue;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;

}

input[type=text], textarea, select {
    padding: 10px;
    width: 500px;
    font-size: 15px;
    border: 3px solid #ccc;
    outline: 0;
    margin-top: 5px;
    margin-bottom: 5px;

}

textarea {
    height: 200px;
    
}

.termoslink {

  color: blueviolet;
  text-decoration: none;


}

.termoslink:hover {


  text-decoration: underline;
}

button{

  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  background-color: aqua;
}

button:hover{
  background-color: antiquewhite;

}
